
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        body {
            font-family: 'Sans', Serif, monospace;
            background-color: #333;
            color: white;
            margin: 0;
            padding: 10px;
            border-top: 10px solid #008080;
            border-bottom: 10px solid #008080;
        }

        textarea,
        #output {
            font-family: 'Courier New', Courier, monospace;
            border: 2px solid #000;
            margin: 10px 0;
            padding: 10px;
            width:100%;
            display: block;
        }

        textarea {
            height: 300px;
            resize: vertical;
            border-radius: 20px;
            background-color: black;
            color: white;
            font-size: 20px;
        }

        button {
            background-color: limegreen;
            height: 40px;
            width: 80px;
            color: white;
            padding: 5px 10px;
            cursor: pointer;
            display: inline-block;
            border-radius: 10px;
        }

        #output {
            background-color: black;
            padding: 10px;
            white-space: pre-wrap;
            overflow-x: auto;
            color: white;
            height: 150px;
            border-radius: 20px;
        }

        @media screen and (max-width: 600px) {
            body {
                padding: 5px;
            }

            textarea,
            #output {
                width:100%;
            }

            textarea {
                height: 300px;
            }
        }
  }
  
